.espacito{
    padding: 10px
}
.container{
    max-width: 700px;
    width: 100%;
    background-color:white;
    padding: 30px 50px;
    border-radius:5px;
}
dt{
    font-size: 25px;
    color: rgb(77, 155, 94);
}
dl{
    font-size: 20px;
}
.body1{
    margin:0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(77, 155, 94), rgb(164, 121, 184));
}
.body2{

}

.btn-primary
{
    background-color:rgb(164, 121, 184);
    border-color:rgb(164, 121, 184);
    width:100px;
}
.espacito2{
    padding: 10px;
    width: 48%;
}
p{
    text-align: end;
}
li{
    float:left;
    list-style: none;
    padding: 10px;
}
nav{
    float: right;
}
.a2{
    text-decoration:none;
}
.btn.btn-primary[disabled] {
    background-color: rgb(187, 163, 199);
    border-color:rgb(187, 163, 199);
}
.Registro{
    text-align:left;
    border-style: solid;
    padding: 4%;
    border-color: rgb(128, 201, 69);
    border-width: 10px;
    border-radius: 30px;
    background-color: white;
}
.titulito{
    text-align:left;
    color:rgb(187, 163, 199);
}
.Titulo{
    padding:15px;
    color:rgb(128, 201, 69);
    font-family:monospace;
}
.Cabezera{
    background-color:rgb(187, 163, 199);
}
.left{
    float:left;
}