{% extends "layout.html" %}
{% block title %}Desarrollo BP{% endblock %}
{% block heading %}

{% endblock %}
{% block body %}
<body class="body2">
    <nav>
        <div class="Titulo">Desarrollo BP</div>
        <div class="Caja">
            <input type="search" placeholder="Buscar..." style="width: 100%;">
        </div>
        <button class="boton">Buscar</button>
        <ol>
            <li><a class="a" href='#'>Carrito</a></li>
            <li><a class="a" href='/product'>Registrar un producto</a></li>
            <li><a class="a" href="{{url_for('logout')}}">Cerrar sesión</a></li>
        </ol>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
{% endblock %}