{% extends "layout.html" %}
{% block title %}Registrate{% endblock %}

{% block body %}
<body class="body1">
    <div  class="Registro">
        <form action="" method="post" id="nameform">
            <h1 class="titulito">¡Registra tu producto!</h1>
            <div class="espacito2"></div>
            {{ form.csrt_token }}
            {{ form.hidden_tag() }}
            {{ form.name }}
            {{ form.price }}
            <div class="espacito2"></div>
            {{form.image }}
            <div class="espacito2"></div>
            {{ form.submit }}
        </form>
        <script src="{{ url_for ('static', filename='index.js') }}"></script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
{% endblock %}