{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="espacio">&nbsp;</div>
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col borde-principal">
            <div class="row">
                <h1 class="display-6 titulo">Perfil</h1>
            </div>
            <div class="row">
                <dl class="row">
                    <dt class="col">Nombre</dt>
                    <dd class="col">{{nombre}} {{apellido}}</dd>
                </dl>
            </div>
            <div class="row">
                <dl class="row">
                    <dt class="col">Dia de nacimiento</dt>
                    <dd class="col">{{fecha}}</dd>
                </dl>
            </div>
            <div class="row">
                <dl class="row">
                    <dt class="col">Sexo</dt>
                    <dd class="col">{{sexo}}</dd>
                </dl>
            </div>
        </div>
        <div class="col">&nbsp;</div>
    </div>
</div>
{% endblock %}