{% extends "layout.html" %}
{% block title %}Desarrollo BP{% endblock %}
{% block heading %}

{% endblock %}
{% block body %}

<body class="body2">
    <div class="logo">
        <a href="/tienda"><img src="../static/imagenes/logo.png" alt="Logo" height="50px"></a>
    </div>
    <nav>
        <ul>
            <li><a class="a" href='#'>Carrito</a></li>
            <li><a class="a" href='/product'>Registrar un producto</a></li>
            <li><a class="a" href="{{url_for('logout')}}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <!--
    <div class="pad">
        {% for hist in hists %}
        <img src="static/{{hist}}" alt="{{hist}}" class="prod">
        <div class="espacito"></div>
        {% endfor %}
    </div>
    -->
    <table>
        <thead>
            <tr>
                <th class="texto">Imagen</th>
                <th class="texto">Nombre</th>
                <th class="texto">Precio</th>
                <th class="texto">Descripción</th>
                <th class="texto">Dueño</th>
            </tr>
        </thead>
        <tbody id="data-output">

        </tbody>
    </table>
    <script src="..\static\data.js">
    </script>
</body>
{% endblock %}